---
---

@import "{{ site.theme }}";

/* Arrondir la photo */
img.profile-pic {
  border-radius: 15px; /* change à 50% si tu veux cercle */
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* Changer fond principal */
.main-content {
  background-color: #f4f6f9;  /* gris très clair moderne */
}

/* Bloc présentation */
.profile-box {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}
